[submodule "bundle/vim-align"]
	path = bundle/vim-align
	url = https://github.com/tsaleh/vim-align.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/vim-lucius"]
	path = bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
